# dependencies
/node_modules
/.pnp
.pnp.js

# production
/build
/dist
/out

# env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# local files
.vscode/
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac & OS files
.DS_Store