.text-type {
  display: inline-flex;
  align-items: baseline;
}
.text-type__content {
  white-space: pre-wrap;
}
.text-type__cursor {
  display: inline-block;
  margin-left: 4px;
}
.text-type__cursor--hidden {
  visibility: hidden;
}
